<h1>Your Pirate Is:</h1>
Name: <%= @pirate.name %><br>
Height: <%= @pirate.height %><br>
Weight: <%= @pirate.weight %><br>

<h2>His First Ship Is:</h2>
    Name: <%= @ships[0].name %><br>
    Type: <%= @ships[0].type %><br>
    Booty: <%= @ships[0].booty %>
    
<h2>His Second Ship Is:</h2>
    Name: <%= @ships[1].name %><br>
    Type: <%= @ships[1].type %><br>
    Booty: <%= @ships[1].booty %>
    